.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
  margin-top: 15px;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-container {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-top: 20px;
}

.App-title {
  font-size: calc(10px + 4vmin);
  font-weight: bold;
  margin-top: -30px;
}

.App-subtitle {
  font-size: calc(10px + 2vmin);
  text-transform: uppercase;
}

.App-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 20px;
}

.App-box {
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 80px;
  border-radius: 10px;
  border: 2px solid #fff;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  margin-top: 15px;
}

.App-content-box {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  margin-left: 25px;
}

.App-box-title {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: calc(10px + 2vmin);
  margin-top: 0;
  margin-bottom: 0;
}

.App-box-description {
  color: #fff;
  font-size: calc(10px + 1vmin);
  margin-top: 10px;
}

.App-video {
  width: 90% !important;
  margin-bottom: 20px;
}

.App-link { 
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
